[submodule "compiler"]
	path = compiler
	url = https://github.com/huip20440/zig-mcs51-backend.git
	branch = mcs251-backend
[submodule "sdcc"]
	path = sdcc
	url = https://github.com/huip20440/sdcc-c251.git
